<link rel="stylesheet" href="../static/style/blog.css">
{% extends "index.html" %}
{% load static %}
{% block title %} Blog Page {% endblock %}
{% block content %}
<div class="canvas">
<div class="search-form">
  <form>
  <input type="text" placeholder="Enter keywords">
  <button type="submit">
    <img width="20px" height="20px" src="{% static 'img/search-icon.png' %}">
  </button>
  </form>
</div>
  <div id="blog-main">
    <div class="filter-bar">
      <h2>Filter articles</h2>
    </div>
    <div class="articles-column">
      {% for article in articles %}
      <div class="article">
        <img src="{{article.image.url}}" alt="article image"/>
        <div class="article-info">
          <div class="article-title">
            <a href="{% url 'article' article.id %}">{{article.heading}}</a>
          </div>
          <div class="article-text">
           {{article.text}} 
          </div>
          <div class="article-author">
            <img width="30px" height="30px" src="{% static  'img/profile-icon.png' %}" alt="profile icon"/>
            <a href="{% url 'profile' article.author %}">{{article.author}}</a>
          </div>
          <div class="article-date">{{article.date}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="news-row">
      <h1 style="text-align: center">Last articles</h1>
      {% for article in top_articles %}
          <div class="article">
            <div class="article-title">
              <a href="{% url 'article' article.id %}">
                {{article.heading}}
              </a>
            </div>
            <div class="article-text">
              {{ article.text }}
            </div>
            <div class="article-author">
              <img alt="profile icon" width="30px" height="30px" src="{% static  'img/profile-icon.png' %}"/>
              <a href="{% url 'profile' article.author %}">{{article.author}}</a>
            </div>
            <div class="article-date">{{article.date}}</div>
          </div> 
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
