{% extends 'index.html' %}
{% load static %}
{% block title %} Registration {% endblock %}
{% block  content %}
  <div class="canvas"> 
    <div class="articles-column" style="width:40%;">
      {% for article in articles %}
      <div class="article">
        <img src="{{article.image.url}}" alt="article image"/>
        <div class="article-info">
          <div class="article-title">
            <a href="{% url 'article' article.id %}">{{article.heading}}</a>
          </div>
          <div class="article-text">
           {{article.text}} 
          </div>
          <div class="article-author">
            <img width="30px" height="30px" src="{% static  'img/profile-icon.png' %}" alt="profile icon"/>
            <a href="{% url 'profile' article.author %}">{{article.author}}</a>
          </div>
          <div class="article-date">{{article.date}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="profile-column">
      <h2>Profile</h2>
      <ul>
        <li>{{user.username}}</li>
        <li>{{user.email}}</li>
      </ul>
    </div>
  </div>
{% endblock %}