@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,300&display=swap");

.canvas {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px;
    background-color: white;
}

.search-form {
    text-align: center;
}

.search-form input {
    border-radius: 20px;
    border: 0;
    padding: 10px;
    background-color: black;
    opacity: 0.8;
    width: 500px;
    color: white;
    font-family: "Nunito", serif;
}

.search-form button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    vertical-align: sub;
}

.search-form button:hover {
    background-color: black;
    opacity: 0.3;
}

#blog-main {
    display: flex;
    font-family: "Nunito", serif;
}

.filter-bar {
    border-radius: 20px;
    background-color: black;
    opacity: 0.9;
    width: 20%;
    height: 500px;
    color: white;
    margin: 20px 30px 20px 30px;
    padding: 10px;
    text-align: center;
}

.filter-bar h2 {
    font-size: 25px;
}

.articles-column {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.articles-column > .article {
    display: grid;
    border-radius: 20px;
    margin: 10px 10px 50px 10px;
    padding: 30px;
    background-color: black;
    color: white;
}

.articles-column > .article:hover {
    transform: scale(1.02);
    transition: 300ms linear;
}

.articles-column > .article > img {
    width: 100%;
    border-radius: 10px;
}

.articles-column .article-info {
    margin: 5px;
    padding: 5px;
    display: grid;
}

.articles-column .article-title {
    font-size: 35px;
}

.articles-column a {
    text-decoration: none;
    color: white;
    font-family: "Nunito", serif;
    font-weight: bolder;
    border-radius: 5px;
}

.article-title a {
    color: white;
    text-decoration: none;
}

.articles-column .article-author a:hover {
    color: black;
    background: white;
}
